.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

} 
h1 {
    text-align:center;
   
    text-transform:uppercase;
    font-weight:100;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
  }
  
  h1:after,h1:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #4eb982;
  }
  #klavimBakfar{
    text-decoration: none;
    color: #B98389;
  }
  #Hobbies{
    text-align: left;
    text-decoration: none;
    color: #B98389;
  }
  #hereLink{
    text-decoration: none;
    color: #B98389;
  }
  #WikiLink{
    text-decoration: none;
    color: #B98389;
  }
  #ReadymadeLink{
    text-decoration: none;
    color: #B98389;
  }